section{
    padding-top: 60px;
    padding-bottom: 60px;
}

body{
    font-family: "Open Sans", "Raleway", Lucida Sans Unicode, Verdana, Helvetica, sans-serif;
/*    font-size: 14px;
    line-height: 23px;
    color: #7a7a7a;
    -webkit-font-smoothing: antialiased;*/

}

.logo-font{
    font-family: 'Montserrat', sans-serif!important;
}

.front-header{
    height: 550px!important;
    /*background-color: #47A6F7;*/
background-image: linear-gradient(90deg, rgb(6, 138, 226) 11%, rgb(50, 173, 255) 100%);
background-image: -moz-linear-gradient(left, rgb(6, 138, 226) 11%, rgb(50, 173, 255) 100%);
background-image: -webkit-linear-gradient(left, rgb(6, 138, 226) 11%, rgb(50, 173, 255) 100%);
background-image: -o-linear-gradient(left, rgb(6, 138, 226) 11%, rgb(50, 173, 255) 100%);
background-image: -ms-linear-gradient(left, rgb(6, 138, 226) 11%, rgb(50, 173, 255) 100%);
    font-weight: bold;
}

.head-text{
    padding-top: 200px;
    color: white;
}

.front-footer{
    background:#272727;
    margin-top:250px!important;
    color:#ADADAD;
}

.btn-footer{
    background: #272727;
    border: 1px solid white;
    color: white;
}

.btn-order{
    width: 50%;
}

.gray-line{
    width: 200px;
    height: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 60px auto 0;
    border-bottom: 2px solid #1ab394;
}

.dark-section{
    background: #444444;
    color: white;
}

.btn-footer:hover{
    background: #272727;
    border: 1px solid white;
    color: white;
}

.navbar-custom{
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #337AB7;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: inherit;
}

.signin-label{
    padding: 10px !important;
    margin: 21px 0px 0px 21px;
    background-color: #1AB394;
    border: 0px !important;
}


.navbar-dropdown{
    color: #676a6c!important;
}

.p-lg-text{
    font-size: 1.5em!important;
    font-weight: 300!important;
}

.product-outline{
    /*outline: 1px solid #E8E8E8;*/
    outline-offset: -8px;
    padding: 15px 30px;
    text-align: center;
    min-height: 400px;
    -webkit-transition: outline 0.7s ease;
     -moz-transition: outline 0.7s ease;
       -o-transition: outline 0.7s ease;
      -ms-transition: outline 0.7s ease;
          transition: outline 0.7s ease; 
}

.product-outline i{
    display: block;
    font-size: 8em;
    color: #E76F51;
}

.product-outline h2{
    color: #F56476;
}

.product-outline:hover{
    /*outline: 1px solid #0B8EE5;*/
}

#benefits-row h1{
    text-align: center;
}

#benefit-main{
    font-weight: bold;
    margin-bottom: 45px;
}

.packages {
    background: #f9f9f9;
    text-align: center;
}

.packages .package {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 30px 0;
    background: white;
}

.packages .package .package-price {
    font-size: 30px;
    font-weight: 300;
    display: block;
}

.underline-small {
    border-top: 2px solid #0099e6;
}
.underline-small {
    display: inline-block;
    width: 160px;
    margin: 0 auto;
    height: 1px;
}

.packages .package .package-features ul li {
    margin: 8px 0;
}

.packages .package .package-features ul {
    padding-left: 0px;
    color: #D2D2D2;
}

.package-features{
    padding-bottom: 30px;
}

.package-active{
    font-weight: bold;
    color: #337AB7;
}

ul li {
    list-style: none;
}

/*.circlenum{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 3em;
    padding: 15px;
}
*/
.circlenum{
    text-align: center;
    font-size: 10em;
}

.workstep{
    /*padding:30px 0px;*/
}

.workstep-text{
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 60px;
}

.divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #e1e1e1;
}


.whytestwater h2{
    text-align: center;
    font-size: 1.4em;
    color: #43A8FF;
    font-weight: bold;
}

.test {
    margin-bottom: 40px;
    text-align: left;
}

.test i {
    float: left;
    margin-right: 20px;
}

.test h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}


.chem-element{
    width: 40px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    border: solid 2px black;
    position:relative;
    float: left;
    margin-right: 30px;
}

.chem-icon{
    font-size: 1.1em;
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.element-num{
    position: absolute;
    font-size: .6em;
    right: 3px;
}

.element-symbol{
    bottom: 0px;
    position: absolute;
    /*font-size: 1.3em;*/
    left: 2px;
}

.sm-sym{
    font-size: .7em;
}

.section-head{
    padding-bottom: 90px;
}

.section-head h1{
    font-weight: bold;
}

.blue{
    color: #43A8FF;
    border-color: #43A8FF;
}

.state-img{
    width: 60px;
    float: left;
    padding: 0px 15px;
    opacity: .6;
}

.icon-col{
    text-align: center;
}

.icon-col span{
    font-size: 11em;
}
/*.section-bottom-bar{
background-image: linear-gradient(90deg, rgb(6, 146, 240) 4%, rgb(136, 207, 255) 100%);
background-image: -moz-linear-gradient(left, rgb(6, 146, 240) 4%, rgb(136, 207, 255) 100%);
background-image: -webkit-linear-gradient(left, rgb(6, 146, 240) 4%, rgb(136, 207, 255) 100%);
background-image: -o-linear-gradient(left, rgb(6, 146, 240) 4%, rgb(136, 207, 255) 100%);
background-image: -ms-linear-gradient(left, rgb(6, 146, 240) 4%, rgb(136, 207, 255) 100%);
    height: 40px;
}
*/

.media-heading{
    font-size: 30px;
    color: #337AB7;
}


.why-test-list{
    font-weight: normal;
    padding-top: 5px;
}

.why-test-list li{
    margin-top: 10px;
    list-style: disc;
    font-size: 1.1em;

}






/*dashboard*/
.fa-check-circle{
    color: green;
}

.fa-times{
    color: red;
}

.test-area-overall{
    font-size: 1.8em;
    font-weight: bold;
}

.test-score-overall{

}

.test-area{
    padding-top: 20px;

}

.test-name{
    font-size: 1.5em;
}

.test-score{

}

.test-explained{

}
